name: Build Android APK Release

on:
  push:
    branches:
      - master            # Ubah sesuai branch utama repo
  workflow_dispatch:     # Bisa trigger manual juga

env:
  MAIN_MODULE: app        # Modul utama aplikasi

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'gradle'

    - name: Grant Gradle wrapper execution permission
      run: chmod +x ./gradlew

    - name: Setup signing keystore
      run: |
        echo "${{ secrets.KEYSTORE }}" | base64 -d > ${{ env.MAIN_MODULE }}/keystore.jks

    - name: Build APK release
      run: ./gradlew ${{ env.MAIN_MODULE }}:assembleRelease \
        -Pandroid.injected.signing.store.file=${{ env.MAIN_MODULE }}/keystore.jks \
        -Pandroid.injected.signing.store.password=${{ secrets.KEYSTORE_PASSWORD }} \
        -Pandroid.injected.signing.key.alias=${{ secrets.KEY_ALIAS }} \
        -Pandroid.injected.signing.key.password=${{ secrets.KEY_ALIAS_PASSWORD }}

    - name: Upload APK release artifact
      uses: actions/upload-artifact@v4
      with:
        name: app-release-apk
        path: ${{ env.MAIN_MODULE }}/build/outputs/apk/release/*.apk
